<IfModule mod_rewrite.c>

    Options +FollowSymLinks
    RewriteEngine On
    
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d # [DNU] Breaking the Code on existing directory!
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteCond $1 !^(index\.php)
    RewriteRule ^(.+)$ index.php [PT,L,QSA]

</IfModule>